{% if render.hasTableHtmlTag() %}
    <table id="{{ table.getTableId() }}" class="dataTable display">

    </table>
{% endif %}

<script>
    $(document).ready(function () {
        $('{{ '#%s'|format(table.getTableId()) }}').dataTable({{ config|raw }});
    });
</script>